doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='assets/theme.css')
    title= config.title
  body
    include includes/mixins

    h1= config.title

    main
      nav
        each file in files
          if file.exports.length > 0
            h6= file.moduleName

            ul
              each symbol in file.exports
                li
                  a(href=`#${symbol.id}`)
                    = symbol.name
                    +tagType(symbol).ml-2

      #content
        each entity in docs
          case entity.docType
            when 'class'
            when 'interface'
              +class(entity)
            when 'function'
              +function(entity)
            when 'variable'
              +variable(entity)
